* {
  box-sizing: border-box;
  -webkit-tap-highlight-color : rgba(0,0,0,0);
  margin: 0;
  padding: 0;

}
html{height: 100%;}
body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Noto Sans KR,-apple-system,BlinkMacSystemFont,helvetica,AppleSDGothicNeo,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  background-color: whitesmoke;
  -webkit-user-select:none; 
  -moz-user-select:none; 
  -ms-user-select:none; 
  user-select:none
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
nav{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #3F72AF;
  color: white;
  z-index: 1000;
}
span {
  font-size: 1.4rem;
  text-align: center;
}
p{
  font-size: 1.2rem;
  /* text-align: center; */
}

.logo {
  letter-spacing: 2px;
  font-size: 35px;
  padding-bottom: 4px;
  font-family: 'Poppins', sans-serif;
}
.title{
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.nav-links {
  width: 55%;
  display: flex;
  justify-content: space-around;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  position: relative;
  letter-spacing: 1px;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  cursor: pointer;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width:25px;
  height: 3px;
  background-color: rgb(226,226,226);
  margin: 5px;
  transition: all 0.3s ease;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background: white;
  transition: all 0.5s ease-out;
}

.nav-links li a:hover::after {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
input, button {
  background-color: transparent;
  border: none;
  outline: none;
}

img { 
  transform: translateZ(0);
  backface-visibility: hidden;
  z-index: -1;
}
.HomeWrapper{
  display: flex;
  margin-top: 15%;
  margin-left: 0%;
}
.MainTitleWrapper{
  width: 900px;
  height: auto;
  margin-top: 30px;
  align-items: center;
  z-index: -1;
}

.MainTitleText {
  line-height: 1.2;
  background-image: linear-gradient(transparent calc(100% - 3px), #000 3px);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: background-size 2s;
  color: rgb(0, 0, 0);
  font-size: 90px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight:700;
}

.MainTitleText.underline {
  background-image: linear-gradient(transparent 60%, #3F72AF 40%);
}
.IntroduceWrapper{
  display: flex;
  width: 65%;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  padding: 20px;
  z-index: -1;
}

@media (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    top: 8vh;
    left: 0;
    right: 0;
    background-color: #3F72AF;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform : translateX(100%);
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .nav-active {
    transform: translateX(0%);
    z-index: 1000;
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(5px);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
  }
  .HomeWrapper{
    margin-top: 30%;
    margin-left: 8%;
    flex-direction: column;
  }
  .HomeImage{
    width:85%;
    height: auto;
  }
  .MainTitleWrapper{
    width: 100%;
  }
  .MainTitleText {
    font-size: 35px;
    text-align: center;
  }
  .IntroduceWrapper{
    width: 90%;
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}